
@{
    ViewBag.Title = "Javascript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .mycontainer {
        background-color: aqua;
        height: 500px;
        width: 500px;
    }
</style>
<h2>Javascript</h2>

<input type="number" name="name" id="txtnumber" value="" />
<input type="button" name="name" onclick="pintar();" value="pintar" />

<input type="button"  value="ok" onclick="imprimir();" />

<div id="containerbtn" class="mycontainer">

</div>



